.projectPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: "Ubuntu", sans-serif;
}
.projectPageName {
    display: flex;
    justify-content: center;
    width: 60%;
    border-bottom: 0.5px groove;
}
.projectPageName h1 {
    margin: 50px;
}
.projectDetailedInfo {
    background-color: blue;
}
  
@media(max-width: 800px){
    .projectPageName h1 {
        font-size: 15px;
        margin: 30px;
    }
}