.blogPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: "Ubuntu", sans-serif;
}
.blogPageName {
    display: flex;
    justify-content: center;
    width: 60%;
    border-bottom: 0.5px groove;
}
.blogPageName h1 {
    margin: 50px;
}
.blogDetailedInfo {
    background-color: blue;
}
  
@media(max-width: 800px){
    .blogPageName h1 {
        font-size: 15px;
        margin: 30px;
    }
}